.block-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-form {
    width: 32rem;
    height: auto;
    margin-left: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.btn-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.button-att{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.table{
    width: 48rem;
}

h1{
    margin-top: 2vw;
    margin-left: 2vw;
}